/* Reset and base styles  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #000000; }

input, textarea, button {
  font-family: inherit;
  padding: 0; }

label {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

a, a:hover {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none; }

/* Grid styles */
.container {
  width: 1430px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

/* Utility */
.none {
  display: none !important; }

/* Sticky Footer */
.footer {
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0; }

.header {
  background-image: url("./../img/header/bg.jpg");
  height: 1020px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 180px; }

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.5);
  margin-bottom: 170px; }

.header-top__nav a {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF; }
  .header-top__nav a:last-child {
    color: #FE9E45;
    border: 1px solid #FE9E45;
    -webkit-box-shadow: 0px 0px 10px 0.5px #FE9E45;
            box-shadow: 0px 0px 10px 0.5px #FE9E45;
    padding: 15px 22px; }
    .header-top__nav a:last-child:hover {
      color: #FFFFFF; }
  .header-top__nav a:hover {
    color: #FE9E45; }
.header-top__nav a + a {
  margin-left: 40px; }
  .header-top__nav a + a:last-child {
    margin-left: 80px; }

.header-info {
  text-align: center; }

.header-info__title {
  margin-bottom: 50px; }
  .header-info__title h1 {
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF; }

.header-info__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
  border-bottom: 1px solid #434343; }
  .header-info__icons span {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF; }
  .header-info__icons .icons + .icons {
    margin-left: 76px; }

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-info__text {
  margin-top: 10px;
  margin-bottom: 100px; }
  .header-info__text span {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF; }
  .header-info__text .info-color {
    color: #FE9E45;
    font-weight: 700; }

.header-info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: unset;
  border: none;
  background-color: #FE9E45;
  border: 0.5px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px 2px #FF6711;
          box-shadow: 0px 0px 15px 2px #FF6711;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF; }
  .header-info__btn span {
    margin-left: 6px; }

.advanteges {
  padding-top: 40px;
  padding-bottom: 100px; }

.advanteges-title {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: #4D4D4D;
  padding-bottom: 30px;
  border-bottom: 1px solid #E3E3E3; }

.advanteges-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 45px;
  row-gap: 100px; }

.advanteges-wrapper__card {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .advanteges-wrapper__card h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #481C03;
    margin-bottom: 20px; }
  .advanteges-wrapper__card p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #535353; }
  .advanteges-wrapper__card img {
    margin-bottom: 30px; }

.about {
  padding-top: 40px;
  padding-bottom: 95px;
  background-image: url("./../img/about/bg.png"); }

.about__title {
  padding-bottom: 10px;
  border-bottom: 1px solid #765B41;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 70px; }
  .about__title h4 {
    font-weight: 600;
    font-size: 40px;
    color: #FE9E45; }
  .about__title span {
    color: #FFFFFF; }

.about__text p + p {
  margin-top: 45px; }
.about__text p {
  font-size: 24px;
  color: #FFFFFF; }
.about__text span {
  font-weight: 700; }

.about__rules {
  font-weight: 600;
  font-size: 24px;
  color: #FE9E45;
  padding-bottom: 10px;
  border-bottom: 1px solid #765B41;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 70px;
  margin-bottom: 70px; }

.about__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 231px; }
  .icon p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FE9E45; }

.icon-border {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #FE9E45;
  border-radius: 50%; }

.rate {
  padding-top: 40px;
  padding-bottom: 120px;
  background-color: #F0F0F0; }

.rate__title {
  font-weight: 600;
  font-size: 40px;
  color: #4D4D4D;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 60px; }

.rate__wrapper-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card {
  width: 440px;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 23px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in; }
  .card:hover {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%); }
  .card ul {
    padding-bottom: 20px;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 20px;
    margin-top: 20px; }
  .card li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .card li span {
      font-size: 24px;
      line-height: 29px;
      color: #4D4D4D; }
    .card li span:last-child {
      font-weight: 600; }

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 40px;
  color: #481C03;
  padding-bottom: 30px;
  border-bottom: 1px solid #E3E3E3; }
  .card__title h4 {
    margin-left: 20px; }

.card__day {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  color: #481C03; }

.card__price {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  color: #481C03; }

.card__btn {
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: unset;
  border: none;
  background-color: #FE9E45;
  border: 0.5px solid #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF; }
  .card__btn span {
    font-weight: 500;
    font-size: 26px;
    color: #FFFFFF;
    margin-left: 15px; }

.faq {
  padding-top: 40px;
  padding-bottom: 80px; }

.faq__title {
  font-weight: 600;
  font-size: 40px;
  color: #4D4D4D;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 40px; }

.faq__question p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #481C03;
  margin-bottom: 15px; }
.faq__question span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D; }
.faq__question span + span {
  margin-top: 25px; }
.faq__question p + span {
  margin-bottom: 30px; }

.question {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F0F0F0; }

.question__title {
  font-weight: 600;
  font-size: 40px;
  color: #481C03;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #C2C2C2; }

.question__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #4D4D4D;
  margin-top: 20px;
  margin-bottom: 30px; }

.question__btn {
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: unset;
  border: none;
  background-color: #FE9E45;
  border: 0.5px solid #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF; }
  .question__btn span {
    font-weight: 500;
    font-size: 26px;
    color: #FFFFFF;
    margin-left: 14px; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #262D36; }

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-wrapper__desc {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF; }

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px; } }
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px; } }
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px; } }

/*# sourceMappingURL=main.css.map */